<div style= 'border: 3px dashed green'>
  <%if @visitor %>
    Hello, <%= @visitor %>!
  <%else%>
    <form action="/hello">
    Hello, my name is <%= @name %>! What is your name?
    <input type='text' name="name">
    <input type='submit' name="Submit">
    </form>
  <%end%>
  <img src= 'images/200px-Sad-pug.jpg' >
</div>
