<div style= 'border: 3px dashed green'>
  <%if @name %>
    Hello, my name is <%= @name%>
  <%end%>
  <%if @visitor %>
    Hello, <%= @visitor%>!
  <%end%>
  <img src= https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Sad-pug.jpg/200px-Sad-pug.jpg >
</div>